<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lj.eshop.dao.ICatalogDao">
  <resultMap id="BaseResultMap" type="com.lj.eshop.domain.Catalog">
    <id column="code" jdbcType="VARCHAR" property="code" />
    <result column="catalog_name" jdbcType="CHAR" property="catalogName" />
    <result column="parent_cataLog_code" jdbcType="VARCHAR" property="parentCatalogCode" />
    <result column="parent_cataLog_name" jdbcType="CHAR" property="parentCatalogName" />
    <result column="image_url" jdbcType="VARCHAR" property="imageUrl" />
    <result column="order_no" jdbcType="INTEGER" property="orderNo" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="recommend" jdbcType="CHAR" property="recommend" />
  </resultMap>
  
    <resultMap id="FindResultMap" type="com.lj.eshop.dto.CatalogDto" extends="BaseResultMap">
  </resultMap>
  
  <sql id="Base_Column_List">
    code, catalog_name, parent_cataLog_code, parent_cataLog_name, image_url, order_no, 
    creater, create_time, del_flag,recommend
  </sql>
  
	<sql id="findPage_condition">
		<where>
			<if test="param!=null">
				<!-- 查询条件根据业务需求自由添加 -->
				<if test="param.code != null and param.code !='' ">
					<![CDATA[and code =#{param.code}]]>
				</if>
				<if test="param.delFlag != null and param.delFlag !='' ">
					<![CDATA[and del_flag =#{param.delFlag}]]>
				</if>
				<if test="param.recommend != null and param.recommend !='' ">
					<![CDATA[and recommend =#{param.recommend}]]>
				</if>
				<if test="param.parentCatalogCode != null and param.parentCatalogCode !='' ">
					<![CDATA[and parent_cataLog_code =#{param.parentCatalogCode}]]>
				</if>
			</if>
		</where>
	</sql>
	<!-- 不分页查询 -->
	<select id="findCatalogs" resultMap="FindResultMap"
		parameterType="com.lj.eshop.dto.FindCatalogPage">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_catalog
		<include refid="findPage_condition" />
		order by order_no 
	</select>
	<!-- 分页查询 -->
	<select id="findCatalogPage" resultMap="FindResultMap"
		parameterType="com.lj.eshop.dto.FindCatalogPage">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_catalog
		<include refid="findPage_condition" />
		order by ${sortBy} ${sortDir}
		limit ${start} , ${limit}
	</select>
	<!-- 查询总数 -->
	<select id="findCatalogPageCount" resultType="int"
		parameterType="com.lj.eshop.dto.FindCatalogPage">
		select count(*)
		FROM t_catalog
		<include refid="findPage_condition" />
	</select>
  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_catalog
    where code = #{code,jdbcType=VARCHAR}
  </select>
 
  <insert id="insertSelective" parameterType="com.lj.eshop.domain.Catalog">
    insert into t_catalog
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="catalogName != null">
        catalog_name,
      </if>
      <if test="parentCatalogCode != null">
        parent_cataLog_code,
      </if>
      <if test="parentCatalogName != null">
        parent_cataLog_name,
      </if>
      <if test="imageUrl != null">
        image_url,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="recommend != null">
        recommend,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="catalogName != null">
        #{catalogName,jdbcType=CHAR},
      </if>
      <if test="parentCatalogCode != null">
        #{parentCatalogCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCatalogName != null">
        #{parentCatalogName,jdbcType=CHAR},
      </if>
      <if test="imageUrl != null">
        #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
       <if test="recommend != null">
        #{recommend,jdbcType=CHAR},
      </if>
      
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lj.eshop.domain.Catalog">
    update t_catalog
    <set>
      <if test="catalogName != null">
        catalog_name = #{catalogName,jdbcType=CHAR},
      </if>
      <if test="parentCatalogCode != null">
        parent_cataLog_code = #{parentCatalogCode,jdbcType=VARCHAR},
      </if>
      <if test="parentCatalogName != null">
        parent_cataLog_name = #{parentCatalogName,jdbcType=CHAR},
      </if>
      <if test="imageUrl != null">
        image_url = #{imageUrl,jdbcType=VARCHAR},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=INTEGER},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="recommend != null">
        recommend = #{recommend,jdbcType=CHAR},
      </if>
      
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>
  
</mapper>