<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lj.eshop.dao.IMemberDao">
  <resultMap id="BaseResultMap" type="com.lj.eshop.domain.Member">
    <id column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="wx_no" jdbcType="VARCHAR" property="wxNo" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="avotor" jdbcType="VARCHAR" property="avotor" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="my_invite" jdbcType="VARCHAR" property="myInvite" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="open_id" jdbcType="VARCHAR" property="openId" />
    <result column="sex" jdbcType="VARCHAR" property="sex" />
    <result column="source_from" jdbcType="CHAR" property="sourceFrom" />
    <result column="merchant_code" jdbcType="VARCHAR" property="merchantCode" />
    <result column="open_member_date" jdbcType="TIMESTAMP" property="openMemberDate" />
    <result column="close_member_date" jdbcType="TIMESTAMP" property="closeMemberDate" />
    <result column="member_rank_code" jdbcType="VARCHAR" property="memberRankCode" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="member_rank_name" jdbcType="VARCHAR" property="memberRankName" />
    <result column="share_code" jdbcType="VARCHAR" property="shareCode" />
    
  </resultMap>
  <sql id="Base_Column_List">
    m.code, m.name, m.phone, m.wx_no, m.status, m.type, m.avotor, m.province, m.city, m.area, m.my_invite, 
    m.grade, m.create_time, m.creater, m.open_id, m.sex, m.source_from, m.merchant_code,
    m.open_member_date, m.close_member_date, m.member_rank_code, m.password,m.share_code
  </sql>
  
  <sql id="apply_Column_List">
    	,my.member_name myInviteName,(SELECT p.phone FROM t_member p WHERE p.code = my.member_code) myInvitePhone
  </sql>
  
  <resultMap id="FindResultMap" type="com.lj.eshop.dto.MemberDto" extends="BaseResultMap">
           <result property="myInviteName" column="myInviteName"/>
           <result property="myInvitePhone" column="myInvitePhone"/>
	</resultMap>
	<sql id="findPage_condition">
		<where>
			<if test="param!=null">
				<!-- 查询条件根据业务需求自由添加 -->
				<if test="param!=null">
					<if test="param.code != null and param.code !='' ">
						<![CDATA[and m.code =#{param.code}]]>
					</if>
					<if test="param.merchantCode != null and param.merchantCode !='' ">
						<![CDATA[and m.merchant_code =#{param.merchantCode}]]>
					</if>
					<if test="param.type != null and param.type !='' ">
						<![CDATA[and m.type =#{param.type}]]>
					</if>
					<if test="param.name != null and param.name !='' ">
						<![CDATA[and m.name like CONCAT('%',#{param.name},'%' )]]>
					</if>
					<if test="param.wxNo != null and param.wxNo !='' ">
						<![CDATA[and m.wx_no like CONCAT('%',#{param.wxNo},'%' )]]>
					</if>
					<if test="param.phone != null and param.phone !='' ">
						<![CDATA[and m.phone = #{param.phone} ]]>
					</if>
					<if test="param.openId != null and param.openId !='' ">
						<![CDATA[and m.open_id like CONCAT('%',#{param.openId},'%' )]]>
					</if>
					<if test="param.status != null and param.status !='' ">
						<![CDATA[and m.status =#{param.status}]]>
					</if>
					<if test="param.wxNoAll != null and param.wxNoAll !='' ">
						<![CDATA[and m.wx_no =#{param.wxNoAll}]]>
					</if>
					<if test="param.myInviteName != null and param.myInviteName !='' ">
						<![CDATA[and my.member_name like CONCAT('%',#{param.myInviteName},'%' )]]>
					</if>
					<if test="param.myInvitePhone != null and param.myInvitePhone !='' ">
						<![CDATA[and (SELECT p.phone FROM t_member p WHERE p.code = my.member_code) =#{param.myInvitePhone}]]>
					</if>
				</if>
			</if> 
			<if test="types!=null">
				<![CDATA[and m.type in]]>
			 <foreach collection="types" open="(" close=")" item="item" separator=",">#{item}</foreach>
  			</if>
  			<if test="startTime!=null">
  				<![CDATA[AND m.create_time >= #{startTime}]]> 
    		</if>
    		<if test="endTime!=null">
    			<![CDATA[AND m.create_time <= #{endTime}]]>
    		</if>
    		<if test="eqWxNo != null and eqWxNo !='' ">
				<![CDATA[and m.wx_no = #{eqWxNo} ]]>
			</if>
		</where>
		
		<if test="sortBy!=null ">
			 ORDER BY ${sortBy} ${sortDir}
		</if>
	</sql>
	<!-- 不分页查询 -->
	<select id="findMembers" resultMap="FindResultMap"
		parameterType="com.lj.eshop.dto.FindMemberPage">
		SELECT
		<include refid="Base_Column_List" />
		<include refid="apply_Column_List" />
		FROM t_member m
		LEFT JOIN t_member_rank_apply mra ON mra.member_code = m.`code`
		LEFT JOIN t_member_rank_apply my ON my.member_code = mra.my_invite
		<include refid="findPage_condition" />
	</select>
	
	<!-- 分页查询 -->
	<select id="findMemberPage" resultMap="FindResultMap"
		parameterType="com.lj.eshop.dto.FindMemberPage">
		SELECT
		<include refid="Base_Column_List" />
		<include refid="apply_Column_List" />
		FROM t_member m
		LEFT JOIN t_member_rank_apply mra ON mra.member_code = m.`code` AND mra.del_flag =0
		LEFT JOIN t_member_rank_apply my ON my.member_code = mra.my_invite AND my.del_flag =0
		<include refid="findPage_condition" />
		limit ${start} , ${limit}
	</select>
	<!-- 查询总数 -->
	<select id="findMemberPageCount" resultType="int"
		parameterType="com.lj.eshop.dto.FindMemberPage">
		select count(m.code)
		FROM t_member m
		LEFT JOIN t_member_rank_apply mra ON mra.member_code = m.`code`
		LEFT JOIN t_member_rank_apply my ON my.member_code = mra.my_invite
		<include refid="findPage_condition" />
	</select>
  
  
  <select id="findMemberCodesByInvite" resultType="java.lang.String" parameterType="java.lang.String">
		SELECT code FROM t_member
		where my_invite =#{myInvite,jdbcType=VARCHAR}
	</select>
	
	<select id="findMemberByShareCode" resultMap="BaseResultMap" parameterType="java.lang.String">
		select 
	    <include refid="Base_Column_List" />
	    from t_member m
	    where m.share_code = #{shareCode,jdbcType=VARCHAR}
	</select>
	
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    ,(select mr.name from t_member_rank mr where mr.code=m.member_rank_code) member_rank_name
    from t_member m
    where m.code = #{code,jdbcType=VARCHAR}
  </select>
  
  <insert id="insertSelective" parameterType="com.lj.eshop.domain.Member">
    insert into t_member
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="wxNo != null">
        wx_no,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="avotor != null">
        avotor,
      </if>
      <if test="province != null">
        province,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="area != null">
        area,
      </if>
      <if test="myInvite != null">
        my_invite,
      </if>
      <if test="grade != null">
        grade,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creater != null">
        creater,
      </if>
      <if test="openId != null">
        open_id,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="sourceFrom != null">
        source_from,
      </if>
      <if test="merchantCode != null">
        merchant_code,
      </if>
      <if test="openMemberDate != null">
        open_member_date,
      </if>
      <if test="closeMemberDate != null">
        close_member_date,
      </if>
      <if test="memberRankCode != null">
        member_rank_code,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="shareCode != null">
        share_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="wxNo != null">
        #{wxNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=CHAR},
      </if>
      <if test="avotor != null">
        #{avotor,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        #{area,jdbcType=VARCHAR},
      </if>
      <if test="myInvite != null">
        #{myInvite,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=VARCHAR},
      </if>
      <if test="sourceFrom != null">
        #{sourceFrom,jdbcType=CHAR},
      </if>
      <if test="merchantCode != null">
        #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="openMemberDate != null">
        #{openMemberDate,jdbcType=TIMESTAMP},
      </if>
      <if test="closeMemberDate != null">
        #{closeMemberDate,jdbcType=TIMESTAMP},
      </if>
      <if test="memberRankCode != null">
        #{memberRankCode,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="shareCode != null">
        #{shareCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lj.eshop.domain.Member">
    update t_member
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="wxNo != null">
        wx_no = #{wxNo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=CHAR},
      </if>
      <if test="avotor != null">
        avotor = #{avotor,jdbcType=VARCHAR},
      </if>
      <if test="province != null">
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null">
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="area != null">
        area = #{area,jdbcType=VARCHAR},
      </if>
      <if test="myInvite != null">
        my_invite = #{myInvite,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creater != null">
        creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="openId != null">
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="sex != null">
        sex = #{sex,jdbcType=VARCHAR},
      </if>
      <if test="sourceFrom != null">
        source_from = #{sourceFrom,jdbcType=CHAR},
      </if>
      <if test="merchantCode != null">
        merchant_code = #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="openMemberDate != null">
        open_member_date = #{openMemberDate,jdbcType=TIMESTAMP},
      </if>
      <if test="closeMemberDate != null">
        close_member_date = #{closeMemberDate,jdbcType=TIMESTAMP},
      </if>
      <if test="memberRankCode != null">
        member_rank_code = #{memberRankCode,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="shareCode != null">
        share_code = #{shareCode,jdbcType=VARCHAR},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>
</mapper>