<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lj.eshop.dao.IProductDao">
  <resultMap id="BaseResultMap" type="com.lj.eshop.domain.Product">
    <id column="code" jdbcType="VARCHAR" property="code" />
    <result column="supply_code" jdbcType="VARCHAR" property="supplyCode" />
    <result column="supply_name" jdbcType="VARCHAR" property="supplyName" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="catalog_type_code" jdbcType="VARCHAR" property="catalogTypeCode" />
    <result column="org_price" jdbcType="DECIMAL" property="orgPrice" />
    <result column="sale_price" jdbcType="DECIMAL" property="salePrice" />
    <result column="gap_price" jdbcType="DECIMAL" property="gapPrice" />
    <result column="cnt" jdbcType="INTEGER" property="cnt" />
    <result column="sale_cnt" jdbcType="VARCHAR" property="saleCnt" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="package_info" jdbcType="VARCHAR" property="packageInfo" />
    <result column="express_fee" jdbcType="VARCHAR" property="expressFee" />
    <result column="total_score" jdbcType="INTEGER" property="totalScore" />
    <result column="spe_img" jdbcType="VARCHAR" property="speImg" />
    <result column="view_cnt" jdbcType="INTEGER" property="viewCnt" />
    <result column="evl_cnt" jdbcType="INTEGER" property="evlCnt" />
    <result column="share_cnt" jdbcType="INTEGER" property="shareCnt" />
    <result column="sale_shop_cnt" jdbcType="INTEGER" property="saleShopCnt" />
    <result column="merchant_code" jdbcType="VARCHAR" property="merchantCode" />
    <result column="collect_flag" jdbcType="CHAR" property="collectFlag" />
    <result column="return_flag" jdbcType="CHAR" property="returnFlag" />
    <result column="pack_flag" jdbcType="CHAR" property="packFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="product_key" jdbcType="VARCHAR" property="productKey" />
    <result column="product_icon" jdbcType="VARCHAR" property="productIcon" />
    <result column="product_order" jdbcType="INTEGER" property="productOrder" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="model_num" jdbcType="VARCHAR" property="modelNum" />
    <result column="texture_code" jdbcType="VARCHAR" property="textureCode" />
    <result column="weight" jdbcType="VARCHAR" property="weight" />
    <result column="size" jdbcType="VARCHAR" property="size" />
    <result column="cert" jdbcType="VARCHAR" property="cert" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.lj.eshop.domain.Product">
    <result column="product_desc" jdbcType="LONGVARCHAR" property="productDesc" />
    <result column="texture_name" jdbcType="LONGVARCHAR" property="textureName" />
  </resultMap>
  
  <resultMap id="CatalogBaseResultMap" type="com.lj.eshop.dto.CatalogDto">
    <id column="catalog_type_code" jdbcType="VARCHAR" property="code" />
    <result column="catalog_name" jdbcType="CHAR" property="catalogName" />
     <result column="parent_cataLog_name" jdbcType="CHAR" property="parentCatalogName" />
  </resultMap>
  
 
  <sql id="catalog_Base_Column_List">
      c.catalog_name,c.parent_cataLog_name
  </sql>
  <sql id="Blob_Column_List">
    t.product_desc
  </sql>
  <!-- 材质关联字段 -->
  <sql id="texture_Column_List">
    ,(SELECT pt.texture_name pt FROM t_product_texture pt WHERE pt.code = t.texture_code) texture_name
  </sql>
  
  <sql id="Base_Column_List">
    t.code, t.supply_code, t.supply_name, name, t.catalog_type_code, t.org_price, t.sale_price, t.gap_price, 
    t.cnt, t.sale_cnt, t.remarks, t.unit, t.status, t.package_info, t.express_fee, t.total_score, t.spe_img, 
    t.view_cnt, t.evl_cnt, t.share_cnt, t.sale_shop_cnt, t.merchant_code, t.collect_flag, t.return_flag, 
    t.pack_flag, t.create_time, t.update_time, t.product_key, t.product_icon, t.product_order,
    t.brand,t.model_num,t.texture_code,t.weight,t.size,t.cert
  </sql>
  
   <resultMap id="ProductSkuDtoResultMap" type="com.lj.eshop.dto.ProductSkuDto">
    <id column="sku_code" jdbcType="VARCHAR" property="code" />
    <result column="sku_cnt" jdbcType="INTEGER" property="cnt" />
    <result column="sku_product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="sku_product_spes" jdbcType="VARCHAR" property="productSpes" />
    <result column="sku_sku_no" jdbcType="VARCHAR" property="skuNo" />
    <result column="sku_del_flag" jdbcType="CHAR" property="delFlag" />
    <result column="sku_cost_price" jdbcType="DECIMAL" property="costPrice" />
    <result column="sku_sale_price" jdbcType="DECIMAL" property="salePrice" />
    <result column="sku_org_price" jdbcType="DECIMAL" property="orgPrice" />
    <result column="sku_gap_price" jdbcType="DECIMAL" property="gapPrice" />
    <result column="sku_price" jdbcType="DECIMAL" property="price" />
    <result column="sku_is_default" jdbcType="CHAR" property="isDefault" />
    <result column="sku_sku_desc" jdbcType="VARCHAR" property="skuDesc" />
    <result column="sku_order_no" jdbcType="INTEGER" property="orderNo" />
    <result column="sku_one_price" jdbcType="DECIMAL" property="onePrice" />
    <result column="sku_two_price" jdbcType="DECIMAL" property="twoPrice" />
  </resultMap>
  
  <resultMap id="FindResultMap" type="com.lj.eshop.dto.ProductDto"
		extends="ResultMapWithBLOBs">
		<collection property="catalog"  ofType="com.lj.eshop.dto.CatalogDto"   resultMap="CatalogBaseResultMap"/>
		<collection property="skus"  ofType="com.lj.eshop.dto.ProductSkuDto"   resultMap="ProductSkuDtoResultMap"/>  
	</resultMap>



	<sql id="findIndexPage_condition">
		<where>
			<if test="param!=null">
				<!-- 查询条件根据业务需求自由添加 -->
				<if test="param.code != null and param.code !='' ">
					<![CDATA[and p.code =#{param.code}]]>
				</if>
				<if test="param.name != null and param.name !='' ">
						<![CDATA[and p.name like CONCAT('%',#{param.name},'%' )]]>
				</if>
				<if test="param.status != null and param.status !='' ">
						<![CDATA[and p.status =#{param.status}]]>
				</if>
				<if test="param.catalogTypeCode != null and param.catalogTypeCode !='' ">
						<![CDATA[and p.catalog_type_code =#{param.catalogTypeCode}]]>
				</if>
				<if test="param.supplyCode!= null and param.supplyCode !='' ">
						<![CDATA[and p.supply_code =#{param.supplyCode}]]>
				</if>
				<if test="param.merchantCode != null and param.merchantCode !='' ">
						<![CDATA[and p.merchant_code =#{param.merchantCode}]]>
				</if>
				<if test="param.productKey != null and param.productKey !='' ">
						<![CDATA[and 
						(
							(p.name like CONCAT('%',#{param.productKey},'%' )) or
							(p.product_key like CONCAT('%',#{param.productKey},'%' )) or
							(c.catalog_name like CONCAT('%',#{param.productKey},'%' ))
						)
						]]>
				</if>
				<if test="param.flags!=null">
					<![CDATA[
						AND p.`code` in(
						 SELECT f.product_code from  t_product_flag f where p.`code`=f.product_code and f.flag_code in
					]]>
				 <foreach collection="param.flags" open="(" close=")" item="item" separator=",">#{item.code}</foreach>
  					)
  				</if>
			</if>
			<if test="textureCode != null and textureCode !='' ">
					<![CDATA[AND p.texture_code = #{textureCode}]]>
				</if>
		</where>
	</sql>
	<!-- B端商品查询 -->
	<select id="findIndexProductPage" resultMap="FindResultMap"
		parameterType="com.lj.eshop.dto.FindProductPage">
			<![CDATA[
				SELECT p.`code`,p.product_icon,p.`name`,p.unit,s.sale_price sku_sale_price,s.one_price sku_one_price
				IF(s.sale_price-s.one_price < 0,0,s.sale_price-s.one_price) sku_gap_price,
				 s.sku_desc sku_sku_desc ,s.`code` sku_code, s.price sku_price ,p.product_key  
				from t_product p 
				JOIN t_product_sku s on p.`code`=s.product_code and s.is_default='0' and s.del_flag='0'
				JOIN t_catalog c on p.catalog_type_code=c.`code` 
 			]]>
		 <include refid="findIndexPage_condition" />
		 GROUP BY p.code
		<if test="sortBy==null or sortBy==''.toString() ">
			ORDER BY p.sale_cnt DESC,p.product_order ASC,p.view_cnt DESC,p.evl_cnt DESC,  p.create_time  desc,p.`code`
		</if>
		<if test="sortBy!=null and sortBy !=''">
			ORDER BY ${sortBy} ${sortDir}, p.create_time  desc,p.`code`
		</if>		
		limit ${start} , ${limit}
	</select>
	 <!-- B端商品查询总数 -->
	<select id="findIndexProductPageCount" resultType="int" parameterType="com.lj.eshop.dto.FindProductPage">
		select count(DISTINCT p.code)
		from t_product p 
		JOIN t_product_sku s on p.`code`=s.product_code and s.is_default='0' and s.del_flag='0'
		JOIN t_catalog c on p.catalog_type_code=c.`code` 
 		<include refid="findIndexPage_condition" />
	</select>

 
	<sql id="findPage_condition">
		<where>
			<if test="param!=null">
				<!-- 查询条件根据业务需求自由添加 -->
				<if test="param.code != null and param.code !='' ">
					<![CDATA[and t.code =#{param.code}]]>
				</if>
				<if test="param.name != null and param.name !='' ">
						<![CDATA[and t.name like CONCAT('%',#{param.name},'%' )]]>
				</if>
				<if test="param.status != null and param.status !='' ">
						<![CDATA[and t.status =#{param.status}]]>
				</if>
				<if test="param.catalogTypeCode != null and param.catalogTypeCode !='' ">
						<![CDATA[and t.catalog_type_code =#{param.catalogTypeCode}]]>
				</if>
				<if test="param.supplyCode!= null and param.supplyCode !='' ">
						<![CDATA[and t.supply_code =#{param.supplyCode}]]>
				</if>
				<if test="param.merchantCode != null and param.merchantCode !='' ">
						<![CDATA[and t.merchant_code =#{param.merchantCode}]]>
				</if>
			</if>
			
			<if test="catalogTypeCodes != null and catalogTypeCodes.size > 0 ">
					and catalog_type_code IN 
					<foreach item="item" index="index" collection="catalogTypeCodes" open="(" separator="," close=")">  
					  	#{item} 
					 </foreach>  
			</if>
		</where>
	</sql>
	<!-- 不分页查询 -->
	<select id="findProducts" resultMap="FindResultMap"
		parameterType="com.lj.eshop.dto.FindProductPage">
		SELECT
		<include refid="Base_Column_List" />,
		<include refid="catalog_Base_Column_List" />
		
		FROM t_product t
		join t_catalog c on t.catalog_type_code=c.code 
		<include refid="findPage_condition" />
		order by t.create_time desc 
	</select>
	<!-- 分页查询 -->
	<select id="findProductPage" resultMap="FindResultMap"
		parameterType="com.lj.eshop.dto.FindProductPage">
		SELECT
		<include refid="Base_Column_List" />
		,
		<include refid="catalog_Base_Column_List" />
		FROM t_product t
		join t_catalog c on t.catalog_type_code=c.code 
		<include refid="findPage_condition" />
		order by t.create_time desc 
		limit ${start} , ${limit}
	</select>
	<!-- 查询总数 -->
	<select id="findProductPageCount" resultType="int"
		parameterType="com.lj.eshop.dto.FindProductPage">
		select count(*)
		FROM t_product t
		join t_catalog c on t.catalog_type_code=c.code 
		<include refid="findPage_condition" />
	</select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    <include refid="texture_Column_List" />
    
    from t_product t
    where t.code = #{code,jdbcType=VARCHAR}
  </select>
   
  <insert id="insertSelective" parameterType="com.lj.eshop.domain.Product">
    insert into t_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="supplyCode != null">
        supply_code,
      </if>
      <if test="supplyName != null">
        supply_name,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="catalogTypeCode != null">
        catalog_type_code,
      </if>
      <if test="orgPrice != null">
        org_price,
      </if>
      <if test="salePrice != null">
        sale_price,
      </if>
      <if test="gapPrice != null">
        gap_price,
      </if>
      <if test="cnt != null">
        cnt,
      </if>
      <if test="saleCnt != null">
        sale_cnt,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="packageInfo != null">
        package_info,
      </if>
      <if test="expressFee != null">
        express_fee,
      </if>
      <if test="totalScore != null">
        total_score,
      </if>
      <if test="speImg != null">
        spe_img,
      </if>
      <if test="viewCnt != null">
        view_cnt,
      </if>
      <if test="evlCnt != null">
        evl_cnt,
      </if>
      <if test="shareCnt != null">
        share_cnt,
      </if>
      <if test="saleShopCnt != null">
        sale_shop_cnt,
      </if>
      <if test="merchantCode != null">
        merchant_code,
      </if>
      <if test="collectFlag != null">
        collect_flag,
      </if>
      <if test="returnFlag != null">
        return_flag,
      </if>
      <if test="packFlag != null">
        pack_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="productKey != null">
        product_key,
      </if>
      <if test="productIcon != null">
        product_icon,
      </if>
      <if test="productOrder != null">
        product_order,
      </if>
      <if test="productDesc != null">
        product_desc,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="modelNum != null">
        model_num,
      </if>
      <if test="textureCode != null">
        texture_code,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="size != null">
        size,
      </if>
      <if test="cert != null">
        cert,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="supplyCode != null">
        #{supplyCode,jdbcType=VARCHAR},
      </if>
      <if test="supplyName != null">
        #{supplyName,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="catalogTypeCode != null">
        #{catalogTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="orgPrice != null">
        #{orgPrice,jdbcType=DECIMAL},
      </if>
      <if test="salePrice != null">
        #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="gapPrice != null">
        #{gapPrice,jdbcType=DECIMAL},
      </if>
      <if test="cnt != null">
        #{cnt,jdbcType=INTEGER},
      </if>
      <if test="saleCnt != null">
        #{saleCnt,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="packageInfo != null">
        #{packageInfo,jdbcType=VARCHAR},
      </if>
      <if test="expressFee != null">
        #{expressFee,jdbcType=VARCHAR},
      </if>
      <if test="totalScore != null">
        #{totalScore,jdbcType=INTEGER},
      </if>
      <if test="speImg != null">
        #{speImg,jdbcType=VARCHAR},
      </if>
      <if test="viewCnt != null">
        #{viewCnt,jdbcType=INTEGER},
      </if>
      <if test="evlCnt != null">
        #{evlCnt,jdbcType=INTEGER},
      </if>
      <if test="shareCnt != null">
        #{shareCnt,jdbcType=INTEGER},
      </if>
      <if test="saleShopCnt != null">
        #{saleShopCnt,jdbcType=INTEGER},
      </if>
      <if test="merchantCode != null">
        #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="collectFlag != null">
        #{collectFlag,jdbcType=CHAR},
      </if>
      <if test="returnFlag != null">
        #{returnFlag,jdbcType=CHAR},
      </if>
      <if test="packFlag != null">
        #{packFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productKey != null">
        #{productKey,jdbcType=VARCHAR},
      </if>
      <if test="productIcon != null">
        #{productIcon,jdbcType=VARCHAR},
      </if>
      <if test="productOrder != null">
        #{productOrder,jdbcType=INTEGER},
      </if>
      <if test="productDesc != null">
        #{productDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="modelNum != null">
        #{modelNum,jdbcType=VARCHAR},
      </if>
      <if test="textureCode != null">
        #{textureCode,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        #{size,jdbcType=VARCHAR},
      </if>
      <if test="cert != null">
        #{cert,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lj.eshop.domain.Product">
    update t_product
    <set>
      <if test="supplyCode != null">
        supply_code = #{supplyCode,jdbcType=VARCHAR},
      </if>
      <if test="supplyName != null">
        supply_name = #{supplyName,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="catalogTypeCode != null">
        catalog_type_code = #{catalogTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="orgPrice != null">
        org_price = #{orgPrice,jdbcType=DECIMAL},
      </if>
      <if test="salePrice != null">
        sale_price = #{salePrice,jdbcType=DECIMAL},
      </if>
      <if test="gapPrice != null">
        gap_price = #{gapPrice,jdbcType=DECIMAL},
      </if>
      <if test="cnt != null">
        cnt = #{cnt,jdbcType=INTEGER},
      </if>
      <if test="saleCnt != null">
        sale_cnt = #{saleCnt,jdbcType=VARCHAR},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="packageInfo != null">
        package_info = #{packageInfo,jdbcType=VARCHAR},
      </if>
      <if test="expressFee != null">
        express_fee = #{expressFee,jdbcType=VARCHAR},
      </if>
      <if test="totalScore != null">
        total_score = #{totalScore,jdbcType=INTEGER},
      </if>
      <if test="speImg != null">
        spe_img = #{speImg,jdbcType=VARCHAR},
      </if>
      <if test="viewCnt != null">
        view_cnt = #{viewCnt,jdbcType=INTEGER},
      </if>
      <if test="evlCnt != null">
        evl_cnt = #{evlCnt,jdbcType=INTEGER},
      </if>
      <if test="shareCnt != null">
        share_cnt = #{shareCnt,jdbcType=INTEGER},
      </if>
      <if test="saleShopCnt != null">
        sale_shop_cnt = #{saleShopCnt,jdbcType=INTEGER},
      </if>
      <if test="merchantCode != null">
        merchant_code = #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="collectFlag != null">
        collect_flag = #{collectFlag,jdbcType=CHAR},
      </if>
      <if test="returnFlag != null">
        return_flag = #{returnFlag,jdbcType=CHAR},
      </if>
      <if test="packFlag != null">
        pack_flag = #{packFlag,jdbcType=CHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="productKey != null">
        product_key = #{productKey,jdbcType=VARCHAR},
      </if>
      <if test="productIcon != null">
        product_icon = #{productIcon,jdbcType=VARCHAR},
      </if>
      <if test="productOrder != null">
        product_order = #{productOrder,jdbcType=INTEGER},
      </if>
      <if test="productDesc != null">
        product_desc = #{productDesc,jdbcType=LONGVARCHAR},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="modelNum != null">
        model_num = #{modelNum,jdbcType=VARCHAR},
      </if>
      <if test="textureCode != null">
        texture_code = #{textureCode,jdbcType=VARCHAR},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=VARCHAR},
      </if>
      <if test="size != null">
        size = #{size,jdbcType=VARCHAR},
      </if>
      <if test="cert != null">
        cert = #{cert,jdbcType=VARCHAR},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>
  <!--  重新统计总库存 -->
  <update id="updateProdcutCnt" parameterType="com.lj.eshop.domain.Product">
  	UPDATE t_product set cnt=(SELECT SUM(t.cnt) from  t_product_sku t where t.product_code = #{code,jdbcType=VARCHAR} and t.del_flag='0' )
	where code= #{code,jdbcType=VARCHAR}
  </update>
  
 <!--  修改统计的累加的次数 -->
  <update id="updateProductCntByType" parameterType="com.lj.eshop.dto.UpdateProductCntDto">
  		<choose>
  			<when test="type=='VIEW_CNT'.toString()">
  				<![CDATA[ UPDATE t_product set view_cnt=view_cnt+ #{cnt} where code=#{code}]]>
  			</when>
  			<when test="type=='EVL_CNT'.toString()">
  				<![CDATA[ UPDATE t_product set evl_cnt=evl_cnt+ #{cnt} where code=#{code}]]>
  			</when>
  			<when test="type=='SHARE_CNT'.toString()">
  				<![CDATA[ UPDATE t_product set share_cnt=share_cnt+ #{cnt} where code=#{code}]]>
  			</when>
  		</choose>
  		
  </update>
  
</mapper>