<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lj.eshop.dao.IShopDao">
  <resultMap id="BaseResultMap" type="com.lj.eshop.domain.Shop">
    <id column="code" jdbcType="VARCHAR" property="code" />
    <result column="shop_name" jdbcType="VARCHAR" property="shopName" />
    <result column="shop_provide" jdbcType="VARCHAR" property="shopProvide" />
    <result column="shop_city" jdbcType="VARCHAR" property="shopCity" />
    <result column="shop_area" jdbcType="VARCHAR" property="shopArea" />
    <result column="shop_addInfo" jdbcType="VARCHAR" property="shopAddinfo" />
    <result column="status" jdbcType="CHAR" property="status" />
    <result column="img" jdbcType="VARCHAR" property="img" />
    <result column="shop_flag" jdbcType="VARCHAR" property="shopFlag" />
    <result column="shop_bg_img_code" jdbcType="VARCHAR" property="shopBgImgCode" />
    <result column="shop_garde" jdbcType="VARCHAR" property="shopGarde" />
    <result column="close_reason" jdbcType="VARCHAR" property="closeReason" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="close_time" jdbcType="TIMESTAMP" property="closeTime" />
    <result column="open_time" jdbcType="TIMESTAMP" property="openTime" />
    <result column="shop_style_code" jdbcType="VARCHAR" property="shopStyleCode" />
    <result column="mime_code" jdbcType="VARCHAR" property="mimeCode" />
    <result column="read_num" jdbcType="INTEGER" property="readNum" />
    <result column="merchant_code" jdbcType="VARCHAR" property="merchantCode" />
    <result column="mbr_code" jdbcType="VARCHAR" property="mbrCode" />
<!--     <result column="bgName" jdbcType="VARCHAR" property="bgName" /> -->
<!--     <result column="bgUrl" jdbcType="VARCHAR" property="bgUrl" /> -->
<!--     <result column="styleName" jdbcType="VARCHAR" property="styleName" /> -->
<!--     <result column="styleColor" jdbcType="VARCHAR" property="styleColor" /> -->
    <result column="rank_code" jdbcType="VARCHAR" property="rankCode" />
    <result column="rank_expire_time" jdbcType="TIMESTAMP" property="rankExpireTime" />
    <result column="un_login" jdbcType="CHAR" property="unLogin" />
    <result column="shop_no" jdbcType="VARCHAR" property="shopNo" />
  </resultMap>
  <sql id="Base_Column_List">
    code, shop_name, shop_provide, shop_city, shop_area, shop_addInfo, status, img, shop_flag, 
    shop_bg_img_code, shop_garde, close_reason, create_time, close_time, open_time, shop_style_code, 
    mime_code, read_num,merchant_code,mbr_code, rank_code, rank_expire_time, un_login, shop_no
  </sql>

	<sql id="Join_Column">
	    ,(SELECT b.name from t_shop_bgimg b WHERE b.code = shop_bg_img_code) bgName
		,(SELECT b.spe from t_shop_bgimg b WHERE b.code = shop_bg_img_code)	bgUrl
		,(SELECT s.name from t_shop_style s WHERE s.code = shop_style_code) styleName
		,(SELECT s.spe from t_shop_style s WHERE s.code = shop_style_code)	styleColor
		,(SELECT r.`name` from t_member_rank r WHERE r.code = rank_code) rankName
	  </sql>



	<resultMap id="FindResultMap" type="com.lj.eshop.dto.ShopDto"
		extends="BaseResultMap"></resultMap>
	<sql id="findPage_condition">
		<where>
			<if test="param!=null">
				<!-- 查询条件根据业务需求自由添加 -->
				<if test="param.code != null and param.code !='' ">
					<![CDATA[and code =#{param.code}]]>
				</if>
				<if test="param.merchantCode != null and param.merchantCode !='' ">
					<![CDATA[and merchant_code =#{param.merchantCode}]]>
				</if>
				<if test="param.shopName != null and param.shopName !='' ">
					and shop_name like CONCAT('%',#{param.shopName},'%' )
		  		</if>
		  		<if test="param.status != null and param.status !='' ">
					<![CDATA[and status =#{param.status}]]>
				</if>
				<if test="param.mbrCode != null and param.mbrCode !='' ">
					<![CDATA[and mbr_code =#{param.mbrCode}]]>
				</if>
			</if>
		</where>
	</sql>
	<!-- 不分页查询 -->
	<select id="findShops" resultMap="FindResultMap" parameterType="com.lj.eshop.dto.FindShopPage">
		SELECT
		<include refid="Base_Column_List" />
		<include refid="Join_Column" />
		FROM t_shop
		<include refid="findPage_condition" />

	</select>
	<!-- 分页查询 -->
	<select id="findShopPage" resultMap="FindResultMap"
		parameterType="com.lj.eshop.dto.FindShopPage">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_shop
		<include refid="findPage_condition" />
		order by ${sortBy} ${sortDir}
		limit ${start} , ${limit}
	</select>
	<!-- 查询总数 -->
	<select id="findShopPageCount" resultType="int"
		parameterType="com.lj.eshop.dto.FindShopPage">
		select count(*)
		FROM t_shop
		<include refid="findPage_condition" />
	</select>

  
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_shop
    where code = #{code,jdbcType=VARCHAR}
  </select>
  <insert id="insertSelective" parameterType="com.lj.eshop.domain.Shop">
    insert into t_shop
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="code != null">
        code,
      </if>
      <if test="shopName != null">
        shop_name,
      </if>
      <if test="shopProvide != null">
        shop_provide,
      </if>
      <if test="shopCity != null">
        shop_city,
      </if>
      <if test="shopArea != null">
        shop_area,
      </if>
      <if test="shopAddinfo != null">
        shop_addInfo,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="img != null">
        img,
      </if>
      <if test="shopFlag != null">
        shop_flag,
      </if>
      <if test="shopBgImgCode != null">
        shop_bg_img_code,
      </if>
      <if test="shopGarde != null">
        shop_garde,
      </if>
      <if test="closeReason != null">
        close_reason,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="closeTime != null">
        close_time,
      </if>
      <if test="openTime != null">
        open_time,
      </if>
      <if test="shopStyleCode != null">
        shop_style_code,
      </if>
      <if test="mimeCode != null">
        mime_code,
      </if>
      <if test="readNum != null">
        read_num,
      </if>
      <if test="merchantCode != null">
        merchant_code,
      </if>
      <if test="mbrCode != null">
        mbr_code,
      </if>
      <if test="rankCode != null">
        rank_code,
      </if>
      <if test="rankExpireTime != null">
        rank_expire_time,
      </if>
       <if test="unLogin != null">
        un_login,
      </if>
       <if test="shopNo != null">
        shop_no,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null">
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopProvide != null">
        #{shopProvide,jdbcType=VARCHAR},
      </if>
      <if test="shopCity != null">
        #{shopCity,jdbcType=VARCHAR},
      </if>
      <if test="shopArea != null">
        #{shopArea,jdbcType=VARCHAR},
      </if>
      <if test="shopAddinfo != null">
        #{shopAddinfo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=CHAR},
      </if>
      <if test="img != null">
        #{img,jdbcType=VARCHAR},
      </if>
      <if test="shopFlag != null">
        #{shopFlag,jdbcType=VARCHAR},
      </if>
      <if test="shopBgImgCode != null">
        #{shopBgImgCode,jdbcType=VARCHAR},
      </if>
      <if test="shopGarde != null">
        #{shopGarde,jdbcType=VARCHAR},
      </if>
      <if test="closeReason != null">
        #{closeReason,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null">
        #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openTime != null">
        #{openTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopStyleCode != null">
        #{shopStyleCode,jdbcType=VARCHAR},
      </if>
      <if test="mimeCode != null">
        #{mimeCode,jdbcType=VARCHAR},
      </if>
      <if test="readNum != null">
        #{readNum,jdbcType=INTEGER},
      </if>
      <if test="merchantCode != null">
        #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="mbrCode != null">
        #{mbrCode,jdbcType=VARCHAR},
      </if>
      <if test="rankCode != null">
        #{rankCode,jdbcType=VARCHAR},
      </if>
      <if test="rankExpireTime != null">
        #{rankExpireTime,jdbcType=TIMESTAMP},
      </if>
       <if test="unLogin != null">
        #{unLogin,jdbcType=CHAR},
      </if>
       <if test="shopNo != null">
        #{shopNo,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lj.eshop.domain.Shop">
    update t_shop
    <set>
      <if test="shopName != null">
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="shopProvide != null">
        shop_provide = #{shopProvide,jdbcType=VARCHAR},
      </if>
      <if test="shopCity != null">
        shop_city = #{shopCity,jdbcType=VARCHAR},
      </if>
      <if test="shopArea != null">
        shop_area = #{shopArea,jdbcType=VARCHAR},
      </if>
      <if test="shopAddinfo != null">
        shop_addInfo = #{shopAddinfo,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=CHAR},
      </if>
      <if test="img != null">
        img = #{img,jdbcType=VARCHAR},
      </if>
      <if test="shopFlag != null">
        shop_flag = #{shopFlag,jdbcType=VARCHAR},
      </if>
      <if test="shopBgImgCode != null">
        shop_bg_img_code = #{shopBgImgCode,jdbcType=VARCHAR},
      </if>
      <if test="shopGarde != null">
        shop_garde = #{shopGarde,jdbcType=VARCHAR},
      </if>
      <if test="closeReason != null">
        close_reason = #{closeReason,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="closeTime != null">
        close_time = #{closeTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openTime != null">
        open_time = #{openTime,jdbcType=TIMESTAMP},
      </if>
      <if test="shopStyleCode != null">
        shop_style_code = #{shopStyleCode,jdbcType=VARCHAR},
      </if>
      <if test="mimeCode != null">
        mime_code = #{mimeCode,jdbcType=VARCHAR},
      </if>
      <if test="readNum != null">
        read_num = #{readNum,jdbcType=INTEGER},
      </if>
      <if test="merchantCode != null">
        merchant_code = #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="mbrCode != null">
        mbr_code = #{mbrCode,jdbcType=VARCHAR},
      </if>
      <if test="rankCode != null">
        rank_code = #{rankCode,jdbcType=VARCHAR},
      </if>
      <if test="rankExpireTime != null">
        rank_expire_time = #{rankExpireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="unLogin != null">
        un_login = #{unLogin,jdbcType=CHAR},
      </if>
      <if test="shopNo != null">
        shop_no = #{shopNo,jdbcType=VARCHAR},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>
</mapper>