<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lj.eshop.dao.ISummaryDao" >
  <resultMap id="BaseResultMap" type="com.lj.eshop.domain.Summary" >
    <id column="code" property="count" jdbcType="VARCHAR" />
    <result column="count" property="count" jdbcType="VARCHAR" />
    <result column="day_st" property="daySt" jdbcType="DATE" />
    <result column="dimension_st" property="dimensionSt" jdbcType="VARCHAR" />
    <result column="ratio" property="ratio" jdbcType="DECIMAL" />
    <result column="merchant_code" property="merchantCode" jdbcType="VARCHAR" />
    <result column="merchantName" property="merchantName" jdbcType="VARCHAR" />
    <result column="shop_code" property="shopCode" jdbcType="VARCHAR" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="order_status" property="orderStatus" jdbcType="VARCHAR" />
    <result column="catalog_code" property="catalogCode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    code, count, day_st, dimension_st, ratio, merchant_code, merchant_name, shop_code, shop_name, order_status, catalog_code
  </sql>

	<resultMap id="FindResultMap" type="com.lj.eshop.dto.SummaryDto"
		extends="BaseResultMap"></resultMap>
	<sql id="findPage_condition">
		<where>
			<if test="param!=null">
				<!-- 查询条件根据业务需求自由添加 -->
				<if test="param.code != null and param.code !='' ">
					<![CDATA[and code =#{param.code}]]>
				</if>
				<if test="param.dimensionSt != null and param.dimensionSt !='' ">
					<![CDATA[and dimension_st =#{param.dimensionSt}]]>
				</if>
				<if test="param.startTime != null and param.startTime !='' ">
					<![CDATA[AND DATE(day_st)>= DATE(#{param.startTime})]]>
				</if>
				<if test="param.endTime != null and param.endTime !='' ">
					<![CDATA[AND DATE(day_st)<= DATE(#{param.endTime})]]>
				</if>
				<if test="param.shopCode != null and param.shopCode !='' ">
					<![CDATA[and shop_code =#{param.shopCode}]]>
				</if>
			</if>
		</where>
	</sql>
	<!-- 不分页查询 -->
	<select id="findSummarys" resultMap="FindResultMap"
		parameterType="com.lj.eshop.dto.FindSummaryPage">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_summary
		<include refid="findPage_condition" />

	</select>
	<!-- 分页查询 -->
	<select id="findSummaryPage" resultMap="FindResultMap"
		parameterType="com.lj.eshop.dto.FindSummaryPage">
		SELECT
		<include refid="Base_Column_List" />
		FROM t_summary
		<include refid="findPage_condition" />
		<if test="sortBy==null or sortBy=='' ">
			ORDER BY day_st desc
		</if>
		<if test="sortBy!=null and sortBy !=''">
			ORDER BY ${sortBy} ${sortDir}, day_st desc
		</if>
		limit ${start} , ${limit}
	</select>
	<!-- 查询总数 -->
	<select id="findSummaryPageCount" resultType="int"
		parameterType="com.lj.eshop.dto.FindSummaryPage">
		select count(*)
		FROM t_summary
		<include refid="findPage_condition" />
	</select>
	
	<!-- author 彭俊霖  查询出昨日订单统计数据 -->
	<select id="orderCount" resultMap="BaseResultMap"
		parameterType="com.lj.eshop.dto.FindSummaryPage">
		select a.status orderStatus,a.shop_code shopCode,a.shop_name shopName,
		a.merchant_code merchantCode,count(a.code) count , count(a.code)/(select count(b.code) from t_order b 
		where DATE(b.create_time)=DATE(DATE_SUB(NOW(),INTERVAL 1 DAY))
		) ratio  
		,(SELECT merchant_name from t_merchant m WHERE m.code = a.merchant_code) merchantName
		from t_order a  
		where DATE(a.create_time)=DATE(DATE_SUB(NOW(),INTERVAL 1 DAY))
		GROUP BY  a.status,a.shop_code,a.merchant_code
	</select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_summary
    where code = #{code,jdbcType=VARCHAR}
  </select>
  
  <insert id="insertSelective" parameterType="com.lj.eshop.domain.Summary" >
    insert into t_summary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        code,
      </if>
      <if test="count != null" >
        count,
      </if>
      <if test="daySt != null" >
        day_st,
      </if>
      <if test="dimensionSt != null" >
        dimension_st,
      </if>
      <if test="ratio != null" >
        ratio,
      </if>
      <if test="merchantCode != null" >
        merchant_code,
      </if>
      <if test="merchantName != null" >
        merchant_name,
      </if>
      <if test="shopCode != null" >
        shop_code,
      </if>
      <if test="shopName != null" >
        shop_name,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="catalogCode != null" >
        catalog_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="count != null" >
        #{count,jdbcType=VARCHAR},
      </if>
      <if test="daySt != null" >
        #{daySt,jdbcType=DATE},
      </if>
      <if test="dimensionSt != null" >
        #{dimensionSt,jdbcType=VARCHAR},
      </if>
      <if test="ratio != null" >
        #{ratio,jdbcType=DECIMAL},
      </if>
      <if test="merchantCode != null" >
        #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="shopCode != null" >
        #{shopCode,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="catalogCode != null" >
        #{catalogCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lj.eshop.domain.Summary" >
    update t_summary
    <set >
      <if test="count != null" >
        count = #{count,jdbcType=VARCHAR},
      </if>
      <if test="daySt != null" >
        day_st = #{daySt,jdbcType=DATE},
      </if>
      <if test="dimensionSt != null" >
        dimension_st = #{dimensionSt,jdbcType=VARCHAR},
      </if>
      <if test="ratio != null" >
        ratio = #{ratio,jdbcType=DECIMAL},
      </if>
      <if test="merchantCode != null" >
        merchant_code = #{merchantCode,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        merchant_name = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="shopCode != null" >
        shop_code = #{shopCode,jdbcType=VARCHAR},
      </if>
      <if test="shopName != null" >
        shop_name = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=VARCHAR},
      </if>
      <if test="catalogCode != null" >
        catalog_code = #{catalogCode,jdbcType=VARCHAR},
      </if>
    </set>
    where code = #{code,jdbcType=VARCHAR}
  </update>
  <!-- 合计总量 -->
  <select id="findSummarysCount" parameterType="com.lj.eshop.dto.FindSummaryPage" resultType="java.math.BigDecimal">
  	SELECT SUM(count) count FROM t_summary  
	<where>
			<if test="param!=null">
					<if test="param.dimensionSt != null and param.dimensionSt !='' ">
						<![CDATA[and dimension_st =#{param.dimensionSt}]]>
					</if>
					<if test="param.startTime != null and param.startTime !='' ">
						<![CDATA[AND DATE(day_st)>= DATE(#{param.startTime})]]>
					</if>
					<if test="param.endTime != null and param.endTime !='' ">
						<![CDATA[AND DATE(day_st)<= DATE(#{param.endTime})]]>
					</if>
					<if test="param.shopCode != null and param.shopCode !='' ">
						<![CDATA[and shop_code =#{param.shopCode}]]>
					</if>
			</if>
	</where>
  </select>
 
 <resultMap id="SummaryDayDtoMap" type="com.lj.eshop.dto.SummaryDayDto" >
    <result column="count" property="count" jdbcType="DECIMAL" />
    <result column="day_st" property="daySt" jdbcType="DATE" />
    <result column="dimension_st" property="dimensionSt" jdbcType="VARCHAR" />
  </resultMap>
  <!-- 按日统计 -->
  <select id="findSummarysGroupByDay" parameterType="com.lj.eshop.dto.FindSummaryPage" resultMap="SummaryDayDtoMap">
  	SELECT day_st,SUM(count) count,dimension_st FROM t_summary  
	<where>
			<if test="param!=null">
					<if test="param.dimensionSt != null and param.dimensionSt !='' ">
						<![CDATA[and dimension_st =#{param.dimensionSt}]]>
					</if>
					<if test="param.startTime != null and param.startTime !='' ">
						<![CDATA[AND DATE(day_st)>= DATE(#{param.startTime})]]>
					</if>
					<if test="param.endTime != null and param.endTime !='' ">
						<![CDATA[AND DATE(day_st)<= DATE(#{param.endTime})]]>
					</if>
					<if test="param.shopCode != null and param.shopCode !='' ">
						<![CDATA[and shop_code =#{param.shopCode}]]>
					</if>
			</if>
	</where>
	GROUP BY day_st ORDER BY day_st ASC
  </select>
  
  <resultMap id="SummaryRadioDtoMap" type="com.lj.eshop.dto.SummaryRadioDto" >
    <result column="count" property="count" jdbcType="DECIMAL" />
    <result column="code" property="code" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
  </resultMap>
   <!-- 按类型统计 -->
  <select id="findSummarysGroupByName" parameterType="com.lj.eshop.dto.FindSummaryPage" resultMap="SummaryRadioDtoMap">
  	<!-- 订单 -->
  	<if test="param.dimensionSt!=null and param.dimensionSt=='0'.toString()">
  		SELECT  order_status AS code ,SUM(count) count FROM t_summary     
		<where>
			<if test="param!=null">
					<if test="param.dimensionSt != null and param.dimensionSt !='' ">
						<![CDATA[and dimension_st =#{param.dimensionSt}]]>
					</if>
					<if test="param.startTime != null and param.startTime !='' ">
						<![CDATA[AND DATE(day_st)>= DATE(#{param.startTime})]]>
					</if>
					<if test="param.endTime != null and param.endTime !='' ">
						<![CDATA[AND DATE(day_st)<= DATE(#{param.endTime})]]>
					</if>
					<if test="param.shopCode != null and param.shopCode !='' ">
						<![CDATA[and shop_code =#{param.shopCode}]]>
					</if>
			</if>
		</where>
		GROUP BY order_status  ORDER BY order_status asc
  	</if>
  	<!-- 商品 -->
  	<if test="param.dimensionSt!=null and param.dimensionSt=='1'.toString()">
  			SELECT * from (
			SELECT  t.catalog_code AS code ,c.catalog_name  as name ,SUM(count) count FROM t_summary  t
			JOIN t_catalog  c on t.catalog_code=c.`code` 
			<where>
				<if test="param!=null">
						<if test="param.dimensionSt != null and param.dimensionSt !='' ">
							<![CDATA[and t.dimension_st =#{param.dimensionSt}]]>
						</if>
						<if test="param.startTime != null and param.startTime !='' ">
							<![CDATA[AND DATE(t.day_st)>= DATE(#{param.startTime})]]>
						</if>
						<if test="param.endTime != null and param.endTime !='' ">
							<![CDATA[AND DATE(t.day_st)<= DATE(#{param.endTime})]]>
						</if>
						<if test="param.shopCode != null and param.shopCode !='' ">
							<![CDATA[and t.shop_code =#{param.shopCode}]]>
						</if>
				</if>
			</where>
			GROUP BY t.catalog_code) z ORDER BY z.count desc 
  	</if>
  </select>

</mapper>