<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lj.eshop.dao.cm.IBomDao">
	<resultMap id="BaseResultMap" type="com.lj.eshop.domain.cm.Bom">
		<id column="CODE" property="code" jdbcType="VARCHAR" />
		<result column="BOM_CODE" property="bomCode" jdbcType="VARCHAR" />
		<result column="BOM_NAME" property="bomName" jdbcType="VARCHAR" />
		<result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="REMARK2" property="remark2" jdbcType="VARCHAR" />
		<result column="REMARK3" property="remark3" jdbcType="VARCHAR" />
		<result column="REMARK4" property="remark4" jdbcType="VARCHAR" />
	</resultMap>
	<resultMap id="findBomPageResultMap" type="com.lj.eshop.dto.cm.FindBomPageDto">
		<id column="CODE" property="code" jdbcType="VARCHAR" />
		<result column="BOM_CODE" property="bomCode" jdbcType="VARCHAR" />
		<result column="BOM_NAME" property="bomName" jdbcType="VARCHAR" />
		<result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
		<result column="REMARK" property="remark" jdbcType="VARCHAR" />
		<result column="REMARK2" property="remark2" jdbcType="VARCHAR" />
		<result column="REMARK3" property="remark3" jdbcType="VARCHAR" />
		<result column="REMARK4" property="remark4" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Base_Column_List">
		CODE, BOM_CODE, BOM_NAME, CREATE_ID,
		CREATE_DATE,REMARK,REMARK2,REMARK3,REMARK4
	</sql>

	<sql id="findBomPage_condition">
		<where>
			<if test="bomCode != null">
				and BOM_CODE = #{bomCode,jdbcType=VARCHAR}
			</if>
			<if test="bomName != null and bomName != ''">
				and BOM_NAME like
				CONCAT('%',#{bomName,jdbcType=VARCHAR},'%' )
			</if>
			<if test="createDate != null">
				<![CDATA[and CREATE_DATE >= #{createDate}]]>
			</if>
			<if test="createDate != null"> 
				<![CDATA[and CREATE_DATE <= #{createDateEnd}]]>
			</if>
			<if test="remark != null and remark != ''">
				and REMARK like CONCAT('%',#{remark,jdbcType=VARCHAR},'%')
			</if>
			<if test="remark2 != null and remark2 != ''">
				and REMARK2 like
				CONCAT('%',#{remark2,jdbcType=VARCHAR},'%' )
			</if>
			<if test="remark3 != null and remark3 != ''">
				and REMARK2 like
				CONCAT('%',#{remark3,jdbcType=VARCHAR},'%' )
			</if>
			<if test="remark4 != null and remark4 != ''">
				and REMARK like
				CONCAT('%',#{remark4,jdbcType=VARCHAR},'%' )
			</if>
		</where>
	</sql>

	<!-- 添加产品 -->
	<insert id="addBom" parameterType="com.lj.eshop.domain.cm.Bom">
		insert into bom
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="code != null">
				CODE,
			</if>
			<if test="bomCode != null">
				BOM_CODE,
			</if>
			<if test="bomName != null">
				BOM_NAME,
			</if>
			<if test="createId != null">
				CREATE_ID,
			</if>
				CREATE_DATE,
			<if test="remark != null">
				REMARK,
			</if>
			<if test="remark2 != null">
				REMARK2,
			</if>
			<if test="remark3 != null">
				REMARK3,
			</if>
			<if test="remark4 != null">
				REMARK4,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="bomCode != null">
				#{bomCode,jdbcType=VARCHAR},
			</if>
			<if test="bomName != null">
				#{bomName,jdbcType=VARCHAR},
			</if>
			<if test="createId != null">
				#{createId,jdbcType=VARCHAR},
			</if>
				NOW(),
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="remark2 != null">
				#{remark2,jdbcType=VARCHAR},
			</if>
			<if test="remark3 != null">
				#{remark3,jdbcType=VARCHAR},
			</if>
			<if test="remark4 != null">
				#{remark4,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<!-- 编辑产品 -->
	<update id="editBom" parameterType="com.lj.eshop.domain.cm.Bom">
		update bom
		<set>
			<if test="bomCode != null">
				BOM_CODE = #{bomCode,jdbcType=VARCHAR},
			</if>
			<if test="bomName != null">
				BOM_NAME = #{bomName,jdbcType=VARCHAR},
			</if>
			<if test="createId != null">
				CREATE_ID = #{createId,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="remark2 != null">
				REMARK2 = #{remark2,jdbcType=VARCHAR},
			</if>
			<if test="remark3 != null">
				REMARK3 = #{remark3,jdbcType=VARCHAR},
			</if>
			<if test="remark4 != null">
				REMARK4 = #{remark4,jdbcType=VARCHAR},
			</if>
		</set>
		where CODE = #{code,jdbcType=VARCHAR}
	</update>

	<!-- 根据主键查询产品 -->
	<select id="selectByCode" resultMap="BaseResultMap"
		parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from bom
		where CODE = #{code,jdbcType=VARCHAR}
	</select>

	<!-- 查询所有产品(不分页) -->
	<select id="findBoms" resultMap="findBomPageResultMap"
		parameterType="com.lj.eshop.dto.cm.FindBomPageDto">
		SELECT
		<include refid="Base_Column_List" />
		FROM bom
		<include refid="findBomPage_condition" />
	</select>

	<!-- 查询所有产品(分页) -->
	<select id="findBomPage" resultMap="findBomPageResultMap"
		parameterType="com.lj.eshop.dto.cm.FindBomPageDto">
		SELECT CODE, BOM_CODE, BOM_NAME, CREATE_ID,
		CREATE_DATE,REMARK,REMARK2,REMARK3,REMARK4
		FROM bom
		<include refid="findBomPage_condition" />
		order by code ${sortDir}
		limit ${start} , ${limit}
	</select>

	<!-- 查询产品条数 -->
	<select id="findBomPageCount" resultType="int"
		parameterType="com.lj.eshop.dto.cm.FindBomPageDto">
		select count(*)
		FROM bom
		<include refid="findBomPage_condition" />
	</select>

</mapper>