<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lj.eshop.dao.cm.IMaterialCommenDao" >
  <resultMap id="BaseResultMap" type="com.lj.eshop.domain.cm.MaterialCommen" >
    <id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="MATERIAL_TYPE_CODE" property="materialTypeCode" jdbcType="VARCHAR" />
    <result column="MATERIAL_TYPE_NAME" property="materialTypeName" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="SHOP_NO" property="shopNo" jdbcType="VARCHAR" />
    <result column="SHOP_NAME" property="shopName" jdbcType="VARCHAR" />
     <result column="DIMENSION_ST" property="dimensionSt" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="BRIEF" property="brief" jdbcType="VARCHAR" />
    <result column="IMG_ADDR" property="imgAddr" jdbcType="VARCHAR" />
    <result column="RESPOND_NUM" property="respondNum" jdbcType="INTEGER" />
    <result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="MERCHANT_NO" property="merchantNo" jdbcType="VARCHAR" />
    <result column="MERCHANT_NAME" property="merchantName" jdbcType="VARCHAR" />
     <result column="LINK_URL" property="linkUrl" jdbcType="VARCHAR" />
    <result column="SHOP_TYPE" property="shopType" jdbcType="VARCHAR" />
    <result column="TEMP_ID" property="tempId" jdbcType="VARCHAR" />
  </resultMap>
  
   <resultMap id="findMaterialCommenPageResultMap" type="com.lj.eshop.dto.cm.FindMaterialCommenPageReturn" >
    <id column="CODE" property="code" jdbcType="VARCHAR" />
    <result column="MATERIAL_TYPE_CODE" property="materialTypeCode" jdbcType="VARCHAR" />
    <result column="MATERIAL_TYPE_NAME" property="materialTypeName" jdbcType="VARCHAR" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="SHOP_NO" property="shopNo" jdbcType="VARCHAR" />
    <result column="SHOP_NAME" property="shopName" jdbcType="VARCHAR" />
    <result column="DIMENSION_ST" property="dimensionSt" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="VARCHAR" />
    <result column="IMG_ADDR" property="imgAddr" jdbcType="VARCHAR" />
    <result column="RESPOND_NUM" property="respondNum" jdbcType="INTEGER" />
    <result column="CREATE_ID" property="createId" jdbcType="VARCHAR" />
    <result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
    <result column="MERCHANT_NO" property="merchantNo" jdbcType="VARCHAR" />
    <result column="MERCHANT_NAME" property="merchantName" jdbcType="VARCHAR" />
     <result column="LINK_URL" property="linkUrl" jdbcType="VARCHAR" />
     <result column="SHOP_TYPE" property="shopType" jdbcType="VARCHAR" />
     <result column="TEMP_ID" property="tempId" jdbcType="VARCHAR" />
     <result column="BRIEF" property="brief" jdbcType="VARCHAR" />
  </resultMap>
  
  <resultMap id="generatorMaterialTotalReturn" type="com.lj.eshop.dto.cm.GeneratorMaterialTotalReturn" >
    <result column="merchant_no" property="merchantNo" jdbcType="VARCHAR" />
    <result column="shop_no" property="shopNo" jdbcType="VARCHAR" />
    <result column="shop_name" property="shopName" jdbcType="VARCHAR" />
    <result column="member_no_gm" property="memberNoGm" jdbcType="VARCHAR" />
    <result column="member_name_gm" property="memberNameGm" />
    <result column="respond_num" property="respondNum" />
    <result column="material_type_code" property="materialTypeCode" />
    <result column="material_type_name" property="materialTypeName" />
  </resultMap>
  <sql id="Base_Column_List" >
    CODE, MATERIAL_TYPE_CODE, MATERIAL_TYPE_NAME, TITLE,SHOP_NO,SHOP_NAME,DIMENSION_ST,CONTENT, IMG_ADDR, RESPOND_NUM, CREATE_ID, 
    CREATE_DATE,MERCHANT_NO,MERCHANT_NAME,LINK_URL,SHOP_TYPE,TEMP_ID,BRIEF
  </sql>
    
   <sql id="findMaterialCommenPage_condition" > 
  	 <where>
      <if test="materialTypeCode != null and materialTypeCode != '' " >
        and  MATERIAL_TYPE_CODE = #{materialTypeCode,jdbcType=VARCHAR}
      </if>
       <if test="materialTypeName != null and materialTypeName != ''" >
        and  MATERIAL_TYPE_NAME like CONCAT('%',#{materialTypeName,jdbcType=VARCHAR},'%' )
      </if>
      <if test="title != null and title != ''" >
        and  TITLE like CONCAT('%',#{title,jdbcType=VARCHAR},'%' )
      </if>
      <if test="createDate != null and createDate != ''">
		<![CDATA[and CREATE_DATE >= #{createDate}]]>
	 </if>
	 <if test="createDate != null and createDate != ''"> 
		<![CDATA[and CREATE_DATE <= #{createDateEnd}]]>
	 </if>
	 <if test="merchantNo != null and merchantNo != ''" >
        and  MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR}
      </if>
	 <if test="merchantNo != null and merchantNo != ''" >
        and  MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR}
      </if>
      <if test="codes != null and codes.size > 0">
			and code IN 
			<foreach item="item" index="index" collection="codes" open="(" separator="," close=")">  
			  	#{item}  
			</foreach>  
	  </if>
      </where>
  </sql>
    
    <!-- 查询 -->
   <select id="findMaterialCommenList" resultMap="findMaterialCommenPageResultMap" parameterType="com.lj.eshop.dto.cm.FindMaterialCommenPage" >
   SELECT   <include refid="Base_Column_List" />
   FROM material_commen 
 	 <include refid="findMaterialCommenPage_condition" />
   </select>
  
  
       <!-- 分页查询 -->
   <select id="findMaterialCommenPage" resultMap="findMaterialCommenPageResultMap" parameterType="com.lj.eshop.dto.cm.FindMaterialCommenPage" >
  SELECT  <include refid="Base_Column_List" />
  FROM material_commen 
 	 <include refid="findMaterialCommenPage_condition" />
   order by CREATE_DATE ${sortDir}
   limit ${start} , ${limit}
  </select>
  
  <select id="findMaterialCommenPageCount" resultType="INTEGER" parameterType="com.lj.eshop.dto.cm.FindMaterialCommenPage" >
    select  count(*)
     FROM material_commen 
     <include refid="findMaterialCommenPage_condition" />
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from material_commen
    where CODE = #{code,jdbcType=VARCHAR}
  </select>
  
   <select id="findMaterialCommenByCode" resultMap="findMaterialCommenPageResultMap">
     select
     <include refid="Base_Column_List" /> 
     from material_commen
     where CODE=#{CODE}
  </select>
  
  <select id="countMaterialCommenSelective" resultType="integer">
     select
     count(1)
     from material_commen
	 <where>
	  <if test="code" >
       CODE = #{code}
      </if>
      <if test="materialTypeCode" >
        AND MATERIAL_TYPE_CODE = #{materialTypeCode}
      </if>
      <if test="materialTypeName" >
        AND MATERIAL_TYPE_NAME = #{materialTypeName}
      </if>
      <if test="title" >
        AND TITLE = #{title}
      </if>
      <if test="shopNo" >
        AND SHOP_NO = #{shopNo}
      </if>
      <if test="shopName" >
        AND SHOP_NAME = #{shopName}
      </if>
      <if test="dimensionSt" >
        AND DIMENSION_ST = #{dimensionSt}
      </if>
      <if test="content" >
        AND CONTENT = #{content}
      </if>
      <if test="imgAddr" >
        AND IMG_ADDR = #{imgAddr}
      </if>
      <if test="respondNum" >
        AND RESPOND_NUM = #{respondNum}
      </if>
      <if test="createId" >
        AND CREATE_ID = #{createId}
      </if>
      <if test="createDate" >
        AND CREATE_DATE = #{createDate}
      </if>
      <if test="merchantNo" >
        AND MERCHANT_NO = #{merchantNo}
      </if>
      <if test="merchantName" >
        AND MERCHANT_NAME = #{merchantName}
      </if>
      <if test="linkUrl" >
        AND LINK_URL = #{linkUrl}
      </if>
	 </where>
  </select>
  
  <select id="getMaterialCommentResponseTotal" resultType="long">
  	select ifnull((select sum(ifnull(respond_num,0)) from material_commen where MERCHANT_NO = #{merchantNo}),0)
  </select>
  
  <select id="generatorMaterialCommenTotal" resultMap="generatorMaterialTotalReturn">
  	SELECT
  		merchant_no,shop_no,shop_name,SUM(IFNULL(respond_num,0)) respond_num,material_type_code,MATERIAL_TYPE_NAME
	FROM material_commen
	where merchant_no = #{merchantNo}
	GROUP BY merchant_no,MATERIAL_TYPE_CODE
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from material_commen
    where CODE = #{code,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.lj.eshop.domain.cm.MaterialCommen" >
    insert into material_commen (CODE, MATERIAL_TYPE_CODE, MATERIAL_TYPE_NAME, 
      TITLE, CONTENT,BRIEF, IMG_ADDR, RESPOND_NUM,CREATE_ID, CREATE_DATE,MERCHANT_NO,MERCHANT_NAME)
    values (#{code,jdbcType=VARCHAR}, #{materialTypeCode,jdbcType=VARCHAR}, #{materialTypeName,jdbcType=VARCHAR}, 
      #{title,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR},#{brief,jdbcType=VARCHAR}, #{imgAddr,jdbcType=VARCHAR}, #{RESPOND_NUM,jdbcType=INTEGER}, 
      #{createId,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{merchantNo,jdbcType=VARCHAR}
      , #{merchantName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lj.eshop.domain.cm.MaterialCommen" >
    insert into material_commen
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        CODE,
      </if>
      <if test="materialTypeCode != null" >
        MATERIAL_TYPE_CODE,
      </if>
      <if test="materialTypeName != null" >
        MATERIAL_TYPE_NAME,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="shopNo != null" >
        SHOP_NO,
      </if>
      <if test="shopName != null" >
        SHOP_NAME,
      </if>
      <if test="dimensionSt != null" >
        DIMENSION_ST,
      </if>
      <if test="content != null" >
        CONTENT,
      </if>
      <if test="brief != null" >
        BRIEF,
      </if>
      <if test="imgAddr != null" >
        IMG_ADDR,
      </if>
      <if test="respondNum != null" >
        RESPOND_NUM,
      </if>
      <if test="createId != null" >
        CREATE_ID,
      </if>
      <if test="createDate != null" >
        CREATE_DATE,
      </if>
      <if test="merchantNo != null" >
        MERCHANT_NO,
      </if>
      <if test="merchantName != null" >
        MERCHANT_NAME,
      </if>
        <if test="linkUrl != null" >
        LINK_URL,
      </if>
       <if test="shopType != null" >
        SHOP_TYPE,
      </if>
      <if test="tempId != null" >
        TEMP_ID,
      </if>
      
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="code != null" >
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="materialTypeCode != null" >
        #{materialTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="materialTypeName != null" >
        #{materialTypeName,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
       <if test="shopNo != null" >
        #{shopNo,jdbcType=VARCHAR},
      </if>
       <if test="shopName != null" >
        #{shopName,jdbcType=VARCHAR},
      </if>
       <if test="dimensionSt != null" >
        #{dimensionSt,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="brief != null" >
        #{brief,jdbcType=VARCHAR},
      </if>
      <if test="imgAddr != null" >
        #{imgAddr,jdbcType=VARCHAR},
      </if>
      <if test="respondNum != null" >
        #{respondNum,jdbcType=INTEGER},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="merchantNo != null" >
        #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        #{merchantName,jdbcType=VARCHAR},
      </if>
       <if test="linkUrl != null" >
         #{linkUrl,jdbcType=VARCHAR},
      </if>
       <if test="shopType != null" >
         #{shopType,jdbcType=VARCHAR},
      </if>
      <if test="tempId != null" >
         #{tempId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.lj.eshop.domain.cm.MaterialCommen" >
    update material_commen
    <set >
      <if test="materialTypeCode != null" >
        MATERIAL_TYPE_CODE = #{materialTypeCode,jdbcType=VARCHAR},
      </if>
      <if test="materialTypeName != null" >
        MATERIAL_TYPE_NAME = #{materialTypeName,jdbcType=VARCHAR},
      </if>
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
       <if test="shopNo != null" >
        SHOP_NO = #{shopNo,jdbcType=VARCHAR},
      </if>
       <if test="shopName != null" >
        SHOP_NAME = #{shopName,jdbcType=VARCHAR},
      </if>
      <if test="dimensionSt != null" >
         DIMENSION_ST = #{dimensionSt,jdbcType=VARCHAR},
      </if>
      <if test="content != null" >
        CONTENT = #{content,jdbcType=VARCHAR},
      </if>
      <if test="brief != null" >
        BRIEF = #{brief,jdbcType=VARCHAR},
      </if>
      <if test="imgAddr != null" >
        IMG_ADDR = #{imgAddr,jdbcType=VARCHAR},
      </if>
      <if test="respondNum != null" >
        RESPOND_NUM = #{respondNum,jdbcType=INTEGER},
      </if>
      <if test="createId != null" >
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="merchantNo != null" >
        MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      </if>
      <if test="merchantName != null" >
        MERCHANT_NAME = #{merchantName,jdbcType=VARCHAR},
      </if>
       <if test="linkUrl != null" >
        LINK_URL = #{linkUrl,jdbcType=VARCHAR},
      </if>
        <if test="shopType != null" >
        SHOP_TYPE = #{shopType,jdbcType=VARCHAR},
      </if>
      <if test="tempId != null" >
        TEMP_ID = #{tempId,jdbcType=VARCHAR},
      </if>
    </set>
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lj.eshop.domain.cm.MaterialCommen" >
    update material_commen
    set MATERIAL_TYPE_CODE = #{materialTypeCode,jdbcType=VARCHAR},
      MATERIAL_TYPE_NAME = #{materialTypeName,jdbcType=VARCHAR},
      TITLE = #{title,jdbcType=VARCHAR},
      CONTENT = #{content,jdbcType=VARCHAR},
      BRIEF = #{brief,jdbcType=VARCHAR},
      IMG_ADDR = #{imgAddr,jdbcType=VARCHAR},
      RESPOND_NUM = #{respondNum,jdbcType=INTEGER},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
      MERCHANT_NO = #{merchantNo,jdbcType=VARCHAR},
      MERCHANT_NAME = #{merchantName,jdbcType=VARCHAR}
      
    where CODE = #{code,jdbcType=VARCHAR}
  </update>
  <update id="updateRespondNumByPrimaryKeyAndRespondNum" parameterType="com.lj.eshop.domain.cm.MaterialCommen" >
    update material_commen
    set
      RESPOND_NUM = #{respondNum + 1,jdbcType=INTEGER}
      
    where CODE = #{code,jdbcType=VARCHAR} and RESPOND_NUM = #{respondNum,jdbcType=INTEGER}
  </update>
</mapper>